<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="AdMgr.ContextDomain.Default" value="int.osram-light.com" />
    <add key="AdMgr.ContextDomains" value="Pen,Wux,Gss,Sylvania,Rbg,Light" />
    <add key="AdMgr.ContextDomain.Pen" value="malaysia.osram-os.com" />
    <add key="AdMgr.ContextDomain.Wux" value="osram-os.com" />
    <add key="AdMgr.ContextDomain.Gss" value="osram.emea" />
    <add key="AdMgr.ContextDomain.Sylvania" value="sylvania.com" />
    <add key="AdMgr.ContextDomain.Rbg" value="osram.de" />
    <add key="AdMgr.ContextDomain.Light" value="int.osram-light.com" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.0" />
    <httpRuntime />
    <authentication mode="Windows" />
    <identity impersonate="false" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>